# When someone opens a pull request that only
# modifies the files specified below, notification will
# be sent to owner(s) for a review.


/src/PortingAssistantExtensionServer/Services/AnalysisService.cs @marknfawaz @huawenm @kanikaul-amazon
/src/PortingAssistantExtensionServer/Services/PortingService.cs @marknfawaz @huawenm @kanikaul-amazon
