PortingAssistantExtensionServer/bin/
PortingAssistantExtensionServer/obj/
PortingAssistantExtensionServerUnitTest/bin/
PortingAssistantExtensionServerUnitTest/obj/
PortingAssistantVSExtensionClient/bin/
PortingAssistantVSExtensionClient/obj/
.DS_Store
.vs/